@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
html, body {
    font-family: 'Raleway', sans-serif;
}
#section-1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #E4AF9A, #F3D7A8);
    display: flex;
    justify-content: center;
}

.menu-list {
    display: inline-block;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.section-1-menu {
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-menu-nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

.menu-list:nth-child(3){
    font-size: 35px;
}

#section-2 {
    width: 100vw;
    height: 100vh;
    background-color: #F06A62;
}

#section-3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.side-menu-bar {
    width: 100px;
    height: 300px;
    display: inline-block;
    position: fixed;
    
}
.section-3-box:nth-child(1) {
    background-color: #B66033;
}

.section-3-box:nth-child(2) {
    background-color: #F4D2A9;
}

.section-3-box:nth-child(3) {
    background-color: #EA939D;
}

.section-3-box:nth-child(4) {
    background-color: #936153;
}

.section-3-box:nth-child(5) {
    background-color: #C8654B;
}

.section-3-box:nth-child(6) {
    background-color: #E2C3B8;
}

.section-3-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#section-4 {
    width: 100vw;
    height: 100vh;
    background-color: #F4D2A9;
}

.section-3-box-text {
    color: white;
    position: absolute;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}