@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
html, body {
    font-family: 'Raleway', sans-serif;
}
#section-1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #E4AF9A, #F3D7A8);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    z-index: 2;
}

.menu-list {
    display: inline-block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.section-1-menu {
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.section-1-menu-nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

.menu-list:nth-child(3){
    font-size: 35px;
}

#section-2 {
    width: 100vw;
    height: 100vh;
    background-color: #F06A62;
}

#section-3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr
}

.section-3-box:nth-child(1) {
    background-color: #B66033;
    background-image: url('./assets/beet.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;

}

.section-3-box:nth-child(2) {
    background-color: #F4D2A9;
    background-image: url('./assets/milk.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-3-box:nth-child(3) {
    background-color: #EA939D;
    background-image: url('./assets/cocoa.png');
    background-size: 60% 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-3-box:nth-child(4) {
    background-color: #936153;
    background-image: url('./assets/vanila_pods.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-3-box:nth-child(5) {
    background-color: #C8654B;
    background-image: url('./assets/maca.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-3-box:nth-child(6) {
    background-color: #E2C3B8;
    background-image: url('./assets/salt.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-3-box {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

#section-4 {
    width: 100vw;
    height: 100vh;
    background-color: #F4D2A9;
}

.section-3-box-text {
    color: white;
    /* position: absolute; */
    /* display: inline-block; */
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

.section-3-box-small_text {
    color: white;
    /* position: absolute; */
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}

.cross {
    background-color: white;
    height: 40px;
    width: 4px;
    position: relative;
}

.cross::after {
    content: "";
    background-color: white;
    height: 4px;
    position: absolute;
    top: 18px;
    width: 40px;
    left: -18px;
}

.section-1-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.section-1-title {
    font-size: 250px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10vh;
}

.section-1-title-bottle {
    background-image: url('./assets/bottle.png');
    background-position: center;
    background-size: 100% 100%;
    width:450px;
    height: 500px;
    top: 15vh;
    background-repeat: no-repeat;
    position: absolute;
}

.section-1-description {
    text-align: center;
}

.section-1-description-text:nth-child(1) {
    font-size: 20px;
    line-height: 50px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.section-1-description-text:nth-child(2) {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px;
    font-weight: bold
}

.section-1-description-text:nth-child(3) {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.side-menu {
    width: 80px;
    height: 30%;
    background-color: rgb(242, 245, 245);
    position: fixed;
    top: 35%;
    display: grid;
}

.side-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    font-weight: bold;
}

.side-menu-box:hover {
    background-color: rgb(240, 106, 98)
}
